<mat-tab-group [selectedIndex]="tab" (selectedIndexChange)="setTab($event)">
  <mat-tab label="Player">
    <div>
      <span class="art large">{{art}} </span>
      <span class="alb large">{{alb}} </span>
      <span class="track large">{{track}} </span>
    </div>
    <audio id="player" controls>
    </audio>
    <hr>

    <div *ngIf="selArt != art">
        <div fxLayout="grid wrap" fxLayoutAlign="start">
            <button mat-raised-button (click)="cancelSelection($event)" color="warn">
            {{"Cancel " + selArt + ": "}}
            </button>
            <div *ngFor="let alb of selAlbs">
              <button mat-raised-button (click)="selectAlbum($event, alb)" color="accent">
                {{alb}}
              </button>
            </div>
          </div>
          <hr>
    </div>

    <div fxLayout="grid wrap" fxLayoutAlign="start">
      <div *ngFor="let album of albs">
        <button mat-raised-button (click)="selectAlbum($event, album)" [color]="album == this.alb ? 'warn' : 'accent'">
          {{album}}
        </button>
      </div>
    </div>

    <hr>
    <div *ngIf="this.tracks" fxLayout="grid wrap" fxLayoutAlign="start">
      <div *ngFor="let tr of tracks">
        <button mat-raised-button (click)="play($event, tracks.indexOf(tr))" [color]="tr.name == track ? 'warn' : 'primary'">
          {{tr.name}}
        </button>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Artists">
    <div fxLayout="grid wrap" fxLayoutAlign="start">
      <div *ngFor="let art of artNames">
        <button mat-raised-button (click)="selectArtist($event, art)" color="accent">
          {{art}}
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>