/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

audio {
    height: 40px;
    width: 80%;
}

.art, .track {
    color: blue;
}

.alb {
    color: green;
}

.large {
    font-size: 3vw;
}